body{
    box-sizing: border-box;
    background-color: #171717;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.d-none{
    display: none !important;
}

.d-flex{
    display: flex;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.padding-pokemon-card{
    padding: clamp(12px, 2vw, 22px) clamp(12px, 2vw, 22px);
}

.title{
    font-weight: 500;
    cursor: pointer;
}
.header{
    border-bottom: 1px solid #5f6368;
    font-size: 1.8rem;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content-pokemons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card{
    position: relative;
    border-radius: 10px;
    width: max(30vw, 400px);
    margin: max(12px, 1vw) max(12px, 1vw);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(160, 158, 158, 0.5);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.pokemon-card:hover{
    transform: scale(1.05);
}

.pokemon-img{
    width: clamp(80px, 40%, 200px);
    height: 180px;
}

.name-type{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.name-type > span{
    font-size: 2rem;
    font-weight: 500;
}

.pokemon-type img{
    width: 30px;
    height: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    padding: 7px;
    margin-top: 5px;
    margin-right: 8px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.pokemon-type img:nth-child(1):hover,.pokemon-type img:nth-child(2):hover{
    transform: scale(1.1);
}

.pokemon-number{
    position: absolute;
    right: 20px;
    bottom: 5px;
    font-size: 3.5rem;
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
    opacity: 0.5;
}

.allButtons{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.loadMore-container{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.loadMore{
    width: 80px;
    height: 80px;
    font-size: 25px;
    border-radius: 200px;
    box-shadow: 0px 0px 5px 1px white;
    color: white;
    background: #303030;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

.loadMore:hover {
    background: #ffffff14;
}

.overlay-pokemon-container{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.overlay-top-pokemon{
    height: 60vh;
    width: 100vw;
    background: radial-gradient(circle, rgba(65,175,93,1) 0%, rgba(23,23,23,1) 88%)
}

.overlay-header{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.overlay-pokemon-name{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay-pokemon-name span:nth-child(1){
    font-size: 3.5rem;
    font-weight: 500;
}

.overlay-pokemon-name span:nth-child(2){
    font-size: 1.5rem;
    font-weight: 300
}

.overlay-bottom-pokemon{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 55vh;
    background-color: rgba(23,23,23,1);
    bottom: 0;
    border-radius: 50px 50px 0 0;
}

.pokemon-overlay-img{
    position: absolute;
    top: -220px;
    /* width: clamp(80px, 40%, 450px); */
    width: 270;
    height: 270px;
}

.arrowRight{
    transform: rotate(180deg)
}

.scaleArrow{
    object-fit: contain;
    cursor: pointer;
}

.nav-pokemon-container{
    width: min(80vw, 800px);
    margin: 20px 200px 0 200px;
    display: flex;
    flex-direction: column;
}

.nav-menu-container{
    display: flex;
    justify-content: space-between;
}

.nav-menu{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 8px;
    padding: 0 10px;
    cursor: pointer;
} 

.nav-menu::after{
    content:"";
    position:absolute;
    background-color: #8C8A8A;
    height: 3px;
    width: 0;
    left: 0;
    top: 35px;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


.nav-menu:hover{
   font-weight: 500;
}

.nav-menu:hover::after{
   width: 100%;
}

.chosenNavElement{
    font-weight: 500; 
}

.chosenNavElement::after{
    content:"";
    position:absolute;
    background-color: #8C8A8A;
    height: 3px;
    width: 100%;
    left: 0;
    top: 35px;
}

.pokemon-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    text-align: center; 
    border-radius: 20px;
    border: 0.5px solid rgba(160, 158, 158, 0.5);
    padding: 20px;
    letter-spacing: 3px;
}

.overlay-pokemon-type{
    padding: 3px;
    margin: 0px 5px;
    border-radius: 100px;
    font-size: 1.2rem;
    min-width: 75px;
    text-align: center;
}

.overlay-pokemon-types-container{
    display: flex;
    margin-bottom: 20px;
}

.pokemon-all-abouts{
    display: flex;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid rgba(160, 158, 158, 0.5);
}

.abouts-categories{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.border-left{
    border-left: 1px solid rgba(160, 158, 158, 0.5);
}

.abouts-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.abouts-header img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.abouts-header p{
    font-size: 1.5rem;
    font-weight: 500;
}

.abouts-body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 300;
    color: #c3c2c2;
}

.pokemon-stats{
    margin-top: 30px;
}

.overlay-dynamic-body{
    margin-top: 30px;
}

.pokemon-stats-container{
    border: 1px solid rgba(160, 158, 158, 0.5);
    border-radius: 20px;
    display: flex;
    padding: 15px;
    flex-direction: column;
}

.stats{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
    padding: 10px;
}

.stats p:nth-child(1){
    width: 40%;
}

.stats p:nth-child(2){
    width: 10%;
}

.stats p:nth-child(2){
    width: 10%;
}

.stats .stat-statusbar{
    width: 50%;
    height: 20px;
    background-color: rgb(75, 72, 72);
    border-radius: 20px;
}

.stats .single-stat{
    background-color: white;
    border-radius: 20px;
    width: 30%;
    height: 100%;
}

.moves-container{
    border: 1px solid rgba(160, 158, 158, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 5px 15px 15px; 
    max-width: 100%;  
}

.move{
    color: white;
    border: 1px solid rgb(255, 254, 254);
    padding: 13px;
    margin: 10px 10px 0 0;
    border-radius: 100px;
    font-size: 1.2rem;
    min-width: 75px;
    text-align: center;
}

.back-to-menu{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}